{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sitemodel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ siteModel.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ siteModel.name }}</td>
            </tr>
            <tr>
                <th>Icao</th>
                <td>{{ siteModel.icao }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ siteModel.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ siteModel.longitude }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ siteModel.city }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sitemodel_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
