{% extends 'layout.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="jumbotron">
            <h1>Routes disponibles :</h1>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('site_index') }}">Les Sites</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('planemodel_index') }}">Les Avions</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('user_index') }}">Les Utilisateurs</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('reservation_index') }}">Les Commentaires</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('flight_index') }}">Les Vols</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('reservation_index') }}">Les Réservations</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/homepage.js') }}"></script>
{% endblock %}
