{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservationmodels list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nbreservedseats</th>
                <th>Publicationdate</th>
                <th>Wasdone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservationModel in reservationModels %}
            <tr>
                <td><a href="{{ path('reservationmodel_show', { 'id': reservationModel.id }) }}">{{ reservationModel.id }}</a></td>
                <td>{{ reservationModel.nbReservedSeats }}</td>
                <td>{% if reservationModel.publicationDate %}{{ reservationModel.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if reservationModel.wasDone %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reservationmodel_show', { 'id': reservationModel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reservationmodel_edit', { 'id': reservationModel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservationmodel_new') }}">Create a new reservationModel</a>
        </li>
    </ul>
{% endblock %}
