{% extends 'base.html.twig' %}

{% block body %}
    <h1>Flightmodel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flightModel.id }}</td>
            </tr>
            <tr>
                <th>Nbfreeseats</th>
                <td>{{ flightModel.nbFreeSeats }}</td>
            </tr>
            <tr>
                <th>Seatprice</th>
                <td>{{ flightModel.seatPrice }}</td>
            </tr>
            <tr>
                <th>Takeofftime</th>
                <td>{% if flightModel.takeOffTime %}{{ flightModel.takeOffTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Publicationdate</th>
                <td>{% if flightModel.publicationDate %}{{ flightModel.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ flightModel.description }}</td>
            </tr>
            <tr>
                <th>Wasdone</th>
                <td>{% if flightModel.wasDone %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('flightmodel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('flightmodel_edit', { 'id': flightModel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
