{% extends 'layout.html.twig' %}

{% form_theme form 'boostrap_base_layout.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <h1>Review creation</h1>
        </div>
        <div class="row">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.text) }}
                {{ form_widget(form.text) }}
                {{ form_errors(form.text) }}
            </div>
            <div class="form-group">
                {{ form_label(form.publicationDate) }}
                {{ form_widget(form.publicationDate) }}
                {{ form_errors(form.publicationDate) }}
            </div>
            <div class="form-group">
                {{ form_label(form.note) }}
                {{ form_widget(form.note) }}
                {{ form_errors(form.note) }}
            </div>
            <div class="form-group">
                {{ form_label(form.userRated) }}
                {{ form_widget(form.userRated) }}
                {{ form_errors(form.userRated) }}
            </div>
            <div class="form-group">
                {{ form_label(form.reviewAuthor) }}
                {{ form_widget(form.reviewAuthor) }}
                {{ form_errors(form.reviewAuthor) }}
            </div>
            <input class="btn btn-success form-control" type="submit" value="Envoyer">
            {{ form_end(form) }}

            <div class="row">
                <ul>
                    <li>
                        <a href="{{ path('review_index') }}">Back to the list</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}
